.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 90%;
    margin-top: 150px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

    .box-layered-box {
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        background-color: #e7c9c9;
        transition: all 0.3s ease;
    z-index: 0;
        &:hover {
            background-color: #ad9384;
            cursor: pointer;
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.9);
        }

        .box-content-box {
            color: black;
            font-family: "Gluten", cursive;
            font-size: 0.9em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 90%;
        }
    }

    .change-color {
        margin-top: 10px;
        padding: 10px;
        background-color: #b59797;
        color: #070707;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #ad9384;
        }
    }

    @media screen and (min-width: 768px) {
        .box-container {
            margin-top: 250px;
        }
    }
}