$base-color: #333333; // Dark Gray
$second-color: #666666; // Medium Gray
$third-color: #999999; // Light Gray
$fourth-color: #666666; // Medium Gray
$fifth-color: #e6e6e6; // Light Gray
$sixth-color: #cccccc; // Silver Gray
$seventh-color: #e0e0e0; // Light Silver
$eighth-color: #999999; // Light Gray
$ninth-color: #b3b3b3; // Medium Silver
$tenth-color: #c1c1c1; // Light Silver
$content-color: #8a8a8a; // Dark Silver
$nav-background-color: #a08c8c; // Light Dusty Rose

.header-container {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

.layered-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.layered-box:hover {

@mixin layer($color, $width, $height, $top, $left, $z-index) {
        background-color: $color;
        width: $width;
        height: $height;
        position: absolute;
        top: $top;
        left: $left;
        z-index: $z-index;
    }

    // Use the mixin to generate additional layers
    .third-layer {
        @include layer($fourth-color, 96%, 80%, 10%, 2%, -9);
    }

    .fourth-layer {
        @include layer($fifth-color, 94%, 70%, 15%, 3%, -8);
    }

    .fifth-layer {
        @include layer($sixth-color, 92%, 60%, 20%, 4%, -7);
    }

    .sixth-layer {
        @include layer($seventh-color, 90%, 50%, 25%, 5%, -6);
    }

    .seventh-layer {
        @include layer($eighth-color, 88%, 40%, 30%, 6%, -5);
    }

    .eighth-layer {
        @include layer($ninth-color, 86%, 30%, 35%, 7%, -4);
    }

    .ninth-layer {
        @include layer($tenth-color, 84%, 20%, 40%, 8%, -3);
    }

    .tenth-layer {
        @include layer($third-color, 82%, 10%, 45%, 9%, -2);
    }

    .base-layer {
        background-color: $second-color;
    }
}

.base-layer {
    background-color: $base-color;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -11;
transition: opacity 0.5s ease-in-out;
}

.top-layer {
    background-color: $second-color;
    width: 98%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 1%;
    z-index: -10;transition: opacity 0.5s ease-in-out;
}


@mixin layer($color, $width, $height, $top, $left, $z-index) {
    background-color: $color;
    width: $width;
    height: $height;
    position: absolute;
    top: $top;
    left: $left;
    z-index: $z-index;
}


.third-layer {
    @include layer($third-color, 96%, 80%, 10%, 2%, -9);
}

.fourth-layer {
    @include layer($fourth-color, 94%, 70%, 15%, 3%, -8);
}

.fifth-layer {
    @include layer($fifth-color, 92%, 60%, 20%, 4%, -7);
}

.sixth-layer {
    @include layer($sixth-color, 90%, 50%, 25%, 5%, -6);
}

.seventh-layer {
    @include layer($seventh-color, 88%, 40%, 30%, 6%, -5);
}

.eighth-layer {
    @include layer($eighth-color, 86%, 30%, 35%, 7%, -4);
}

.ninth-layer {
    @include layer($ninth-color, 84%, 20%, 40%, 8%, -3);
}

.tenth-layer {
    @include layer($tenth-color, 82%, 10%, 45%, 9%, -2);
}

.content-box {
    color: black;
    font-family: 'Gluten', cursive;
    font-size: 1.5em;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    width: 100%;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 

}

@media screen and (min-width: 768px) {

    // Tablet and larger
        .content-box {
            font-size: 2.8em;
            width: 100%;
    
        }
    
        .header-container {
            height: 40vh;
        }
    
        .navigation-wrapper {
    
            top: 300px;
            display: flex;
    
        }
}
.content-box {
    display: block;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;

}
.toggle-banner-button {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    padding: 0;

    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    position: fixed;
    z-index: 1;
    margin-top:-45px;


    &::before {
        content: '';
        position: fixed;
        left: 50%;
        transform: translateX(-50%) rotate(360deg);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 148px 31px 146px;
        border-color: transparent transparent pink transparent;
        transition: transform 0.3s;
        z-index: 1;

    }
&.up::before {
    transform: translateX(-50%) rotate(180deg);
    animation: collapseToTop 0.7s forwards;
    margin-top: 200px;
    
    /* Adjusted z-index */
}

&.down::before {
    transform: translateX(-50%);
    top: -31px;
    animation: collapseToTop 0.7s forwards;
    
    /* Adjusted z-index */
}

    &:hover {
        color: #2980b9;
    }
}
.change-color{
    margin-top:300px;
}