$nav-hover-color: #9e7f7f;
$nav-text-color: #e7c9c9;
$nav-background-color: #b59797;
$nav-submenu-background: rgb(232, 166, 166);
$background-color: white;
$nav-text-color: #39404a;
    $hover-color: #000000;
    $press-color: #808080;
.lang {
    display: flex;
    position: fixed;
    top: 45px;
    right: 0;
    z-index: 1;
}

.navigation-container {
    position: fixed;
    display: flex;
    z-index: 1;
    top: 0;
}

.menu-icon-container {
    cursor: pointer;
}

.menu-icon {
    position: relative;
    font-size: 32px;
    color: $nav-text-color;
    padding: 10px;
    transition: font-size 0.3s, color 0.3s;
    background-color: $nav-background-color;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
margin-top: 1px;
    margin-left: auto;

    &:hover {
        font-size: 36px;
        color: $nav-hover-color;
    }

    &.open {
        color: $nav-hover-color;
    }
}

.navigation {
    border-radius: 0.3rem;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
    z-index: 1;

    &.open {
        opacity: 1;
        transform: translateY(0);
        background: radial-gradient(black, transparent);
        margin-top: 35px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        li {
            margin: 0;
            padding: 20px;
            position: relative;
            display: flex;
            max-width: 200px;
            max-height: 200px;

            &:hover {
                .submenu {
                    display: block;
                }

                a {
                    background: $nav-hover-color;
                    color: white;
                }
            }

            a {
                color: #333;
                text-decoration: none;
                display: block;
                text-align: center;
                width: 81px;
                padding: 15px 10px;
                border-radius: 8px;
                position: relative;
                overflow: hidden;
                background: $nav-submenu-background;
                transition: background 0.3s linear, color 0.3s linear;

                &:hover {
                    background: $hover-color;
                    color: white;
                }
            }

            .submenu {
                display: none;
                background-color: $nav-submenu-background;
                border-radius: 0.3rem;
                box-shadow: 0 0 3px #000;

                li {
                    padding: 10px;

                    a {
                        color: #fff;
                        text-decoration: none;
                        display: block;
                        border-radius: 8px;
                        transition: background 0.3s linear, color 0.3s linear;

                        &:hover {
                            background: $nav-text-color;
                        }
                    }
                }
            }

            &.has-submenu.open .submenu {
                display: block;
            }
        }
    }
}

.has-submenu {
    z-index: 2;

    &.open {
        z-index: 3;

        .submenu {
            display: block;
        }
    }
}
.change-color{
        background-color: rgba(255, 255, 255, );
            color: $nav-text-color;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1px;
            position: fixed;
                top: 5px;
                right: 0;
                z-index: 1;
                border: none;
                    padding: 5px;
                    font-size: 10px;
                    cursor: pointer;
                    outline: none;
                    transition: background-color 0.3s, color 0.3s;
                    &:hover {
                            background-color: $hover-color;
                            color: $background-color;
                        }
                    
                        &:active {
                            background-color: $press-color;
                            color: $background-color;
                            transform: scale(0.9);
                        }
}
@media only screen and (min-width: 768px) {
    .lang {
        position: fixed;
    }

    .submenu {
        z-index: 1;
    }

    .navigation-wrapper {
        top: auto;
    }

    .navigation {
        ul {
            flex-direction: row;

            li {
                a {
                    height: 20px;
                    width: auto;
                }
            }
        }
    }
}