.lang {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 0;
        margin: 11px;
        z-index: 15;
        top: -100px;
            top: -247px;
}

.en {
    display: flex;
}

.es {
    display: flex;
}

.navigation-wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 12;
}

.menu-icon {
    font-size: 32px;
    color: #333;
    cursor: pointer;
    padding: 10px;
    transition: font-size 0.3s, color 0.3s;

    &:hover {
        font-size: 36px;
        color: #1D90F5;
    }

    &.open {
        color: #1D90F5;
    }
}

.navigation {
    border-radius: 0.3rem;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
    z-index: 15;
    /* Set a higher z-index for the navigation menu */

    &.open {
        opacity: 1;
        transform: translateY(0);
        background: radial-gradient(orange, transparent);
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        li {
            margin: 0;
            padding: 10px;
            position: relative;
            display: flex;
            max-width: 200px;
            max-height: 200px;

            a {
                color: #333;
                text-decoration: none;
                display: block;
                text-align: center;
                width: 81px;
                padding: 15px 10px;
                border-radius: 8px;
                position: relative;
                overflow: hidden;
                background: #1D90F5;
                transition: background 0.3s linear, color 0.3s linear;

                &:hover {
                    color: #fff;
                    background: #333;
                }
            }

            .submenu {
                display: none;
                background-color: #1D90F5;
                border-radius: 0.3rem;
                box-shadow: 0 0 3px #000;

                li {
                    padding: 10px;

                    a {
                        color: #fff;
                        text-decoration: none;
                        display: block;
                        border-radius: 8px;
                        transition: background 0.3s linear, color 0.3s linear;

                        &:hover {
                            background: #333;
                        }
                    }
                }
            }

            &:hover .submenu {
                display: block;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .lang{

    }
    .submenu {
        z-index: 15;
    }

    .navigation-wrapper {
        top: auto;
    }

    .navigation {
        ul {
            flex-direction: row;
            /* Change to a horizontal layout on larger screens */

            li {
                a {
                    height: 20px;
                    width: auto;
                }
            }
        }
    }
}