$background-color: white;
$nav-text-color: #39404a;
$hover-color: #000000;
$press-color: #808080; // Adjust the color for the pressed state

.language-toggle {
    position: relative;
    border: none;
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    background-color: $background-color;
    color: $nav-text-color;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

    &:hover {
        background-color: $hover-color;
        color: $background-color;
    }

    &:active {
        background-color: $press-color;
        color: $background-color;
        transform: scale(0.9);
    }
}